.containerGeneral {
  width: 310px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: all 1s;
  font-size: 13px;
}
.containerGeneral:hover {
  transition: all 1s;
  transform: scale(1.05);
}
.containerimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: end;
}

.containerGeneral button {
  background-color: rgba(210, 211, 209, 0.637);
  border: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  border-bottom-left-radius: 2px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transition: all 1s;
  font-weight: 800;
}

.containerGeneral button:hover {
  transition: all 1s;
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.518);
  background-color: rgba(210, 211, 209, 0.719);
}

.containerinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.containerinfo h3 {
  font-style: none;
  font-weight: 600;
  color: black;
  margin: 0;
}
.containerinfo p {
  font-weight: 700;
  color: black;
  margin: 0;
}
.containerinfo2 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 18px;
}

.containerinfo2 p {
  background-color: rgba(0, 0, 255, 0.137);
  color: blue;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 15px;
}
