.mainContainer {
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100vw;
}

.sectionTitle {
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 8px;
  font-family: 13px;
  background-color: #00010310;
  color: rgb(24, 8, 8);
  padding: 10px;
}
.gridContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.label {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.484);
}

.select {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  margin-top: 10px;
  color: aliceblue;
  margin-right: 10px;
  padding: 4px 5px;
}

.changeButton {
  border: solid 1px rgba(0, 0, 0, 0.08);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}

.input {
  background-color: rgb(252, 252, 252);
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.527);
  margin: 8px 0px;
  margin-right: 10px;
  padding: 10px;
}

.textarea {
  width: 93%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.381);
  padding: 15px;
}

.columnsection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imageUpload {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.imageBox {
  display: flex;
  flex-direction: column;
}
.imageBox span {
  font-size: 10px;
  color: #00000074;
  margin-bottom: 10px;
}

.imageBox button {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  color: aliceblue;
  margin-right: 10px;
  padding: 4px 5px;
  width: 70px;
}

.categoryItem {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.categoryItem label {
  font-size: 12px;
  margin-right: 15px;
}

.categoryItem button {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  color: aliceblue;
  padding: 4px 5px;
  width: 100px;
}

.categoryItem input {
  border: 1px solid rgba(0, 0, 0, 0.345);
  margin-right: 10px;
}

.infoText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.358);
}

.colum2section {
  display: flex;
}

.row input {
  width: 110px;
  margin-right: 15px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0);
}

.exitenciasection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exitenciasection input {
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
}

.sectionpont {
  display: flex;
  flex-direction: column;
}

.variantsContainer span {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.475);
}

.variantsContainer button {
  background-color: rgba(0, 0, 0, 0.897);
  color: aliceblue;
  border: 0;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
